*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
  
}

header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.list-items a{
    color: aliceblue;  
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
    
}

.texto-apresentacao h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.texto-apresentacao a {
    background-color: #122A57;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}


#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{
    min-width: 420px;
}

.container-externo{
    background-color: #122A57;
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2{
    color: white;
    font-size: 32px;
    margin-bottom: 40px;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servico{
    text-align: center;
}

.item-servico a{
    width: 120px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: #122A57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.item-servico p{
    font-weight: 700;
    font-size: 18px;
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 10px;
}

.item-servico img{
    width: 80%;
    margin: auto;
}

#planos{
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2{
    font-size: 32px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.btn{
    background-color: #122A57;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin: 20px auto 20px auto;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after{
    content: "";
    background-color: #122A57;
    width: 80%;
    height: 3px;
    margin: 20px auto 20px auto;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 8px;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}

footer{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
}

footer .footer{
    justify-content: space-between;
    color: aliceblue;
}

/* MOBILE */

@media(max-width:800px){
    .flex-container{
        flex-direction: column;
        box-sizing: border-box;
    }

    header{
        margin-bottom: 20px;
        padding:10px;
    }

    .menu{
        margin-top: 20px;
        text-align: center;
    }

    .list-items{
        margin: 20px auto 10px auto;
        
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        box-sizing: border-box;
        position: relative;
    }
    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    .apresentacao img{
        max-width: 90%;
        margin: 30px auto;
        padding:10px;
        position: relative;
    }

    .texto-apresentacao{
        text-align: center;
        margin-bottom: 30px;
    }

    .texto-apresentacao a{
        margin: 20px auto;

    }

    #quem-somos{
        flex-direction: column-reverse;
        padding: 10px;
    }

    #quem-somos img{
        box-sizing: border-box;
        display: block;
        max-width: 80%;
        margin: auto;
    }

    #servicos{
        padding: 10px;
    }

    .list-servicos{
        flex-direction: column;
    }

    .item-servico img{
        width: 25%;
        margin: auto;
    }

    .item-servico{
        margin-bottom: 35px;
    }

    .item-servico a:hover{
        background-color: #e0e0e0;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width:500px){
    
}

